<div class="jumbotron text-center">
  <h1 class="display-4">Gestión de biblioteca</h1>
  <p class="lead">Aquí podra administrar las categorías, autores y libros de su biblioteca.</p>
  <hr class="my-4">
  <p>Solo debe navegar a través de las opciones del menú superior y econtrará como consultar, crear, editar y eliminar tanto categorías como autores y libros.</p>
</div>
