<div class="row">
  <div class="col-md-10">
    <h1 id="tableLabel">Libros</h1>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success" [routerLink]="['/libros/detalle']">Crear libro</button>
  </div>
</div>
<hr>
<p *ngIf="!books && !notFound"><em>Loading...</em></p>

<div *ngIf="notFound" class="alert alert-danger" role="alert">
  No se encontraron libros.
</div>

<div class="row" *ngIf="books">
  <form class="full-width" [formGroup]="filtersForm">
    <div class="form-row full-width">
      <div class="form-group col-md-3">
        <label for="bookName">Libro</label>
        <input type="text" class="form-control" id="bookName" formControlName="BookName">
      </div>
      <div class="form-group col-md-3">
        <label for="authorName">Autor</label>
        <input type="text" class="form-control" id="authorName" formControlName="AuthorName">
      </div>
      <div class="form-group col-md-3">
        <label for="categoryName">Categoria</label>
        <input type="text" class="form-control" id="categoryName" formControlName="CategoryName">
      </div>
      <div class="form-group col-md-3 d-flex justify-content-around align-items-end">
        <button class="btn btn-info btn-block" (click)="searchBooks()">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<table class='table table-striped table-hover' aria-labelledby="tableLabel" *ngIf="books">
  <thead>
  <tr>
    <th width="20%">Nombre</th>
    <th width="20%">Código ISBN</th>
    <th width="20%">Autor</th>
    <th width="20%">Categoría</th>
    <th width="20%">Editar / Eliminar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td>{{ book.Name }}</td>
    <td>{{ book.ISBN }}</td>
    <td>{{ book.Author.Name }} {{ book.Author.LastName }}</td>
    <td>{{ book.Category.Name }}</td>
    <td class="d-flex justify-content-around">
      <button class="btn btn-warning" [routerLink]="['/libros/detalle', book.Id]">
        <fa-icon [icon]="editIcon"></fa-icon>
      </button>
      <button class="btn btn-danger" (click)="delete(book.Id)">
        <fa-icon [icon]="deleteIcon"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
