<div class="row">
  <div class="col-md-10">
    <h1 *ngIf="!edit">Nueva categoría</h1>
    <h1 *ngIf="edit">Editar categoría</h1>
  </div>
  <div class="col-md-2">
    <button class="btn btn-danger" [routerLink]="['/categorias']">Cancelar</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12">
    <form class="needs-validation" [ngClass]="{'was-validated': validated}" novalidate [formGroup]="categoryForm">
      <div class="form-row">
        <label for="categoryName" class="col-sm-2 col-form-label">Nombre:</label>
        <input type="text" class="form-control" name="Name" id="categoryName" formControlName="Name" required>
      </div>
      <div class="form-row">
        <label for="categoryDescription" class="col-sm-2 col-form-label">Descripción:</label>
        <textarea class="form-control" id="categoryDescription" rows="3" name="Description" formControlName="Description" required></textarea>
      </div>
      <br>
      <hr>
      <div class="form-group d-flex justify-content-around">
        <button class="btn btn-success" (click)="save()" *ngIf="!edit">Crear</button>
        <button class="btn btn-success" (click)="save()" *ngIf="edit">Editar</button>
        <button class="btn btn-warning" (click)="clear()">Limpiar campos</button>
      </div>
    </form>
  </div>
</div>
