<div class="row">
  <div class="col-md-10">
    <h1 *ngIf="!edit">Nuevo libro</h1>
    <h1 *ngIf="edit">Editar libro</h1>
  </div>
  <div class="col-md-2">
    <button class="btn btn-danger" [routerLink]="['/libros']">Cancelar</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12">
    <form class="needs-validation" [ngClass]="{'was-validated': validated}" novalidate [formGroup]="bookForm">
      <div class="form-row">
        <label for="authorName" class="col-sm-2 col-form-label">Nombre:</label>
        <input type="text" class="form-control" name="Name" id="authorName" formControlName="Name" required>
      </div>
      <div class="form-row">
        <label for="bookISBN" class="col-sm-2 col-form-label">Código ISBN:</label>
        <input type="text" class="form-control" name="ISBN" id="bookISBN" formControlName="ISBN" required>
      </div>
      <div class="form-row">
      <label for="category">Categoría:</label>
        <input
          id="category"
          type="text"
          class="form-control"
          [ngbTypeahead]="searchCategory"
          (focus)="focusCategory$.next($event.target.value)"
          (click)="clickCategory$.next($event.target.value)"
          (selectItem)="categorySelected($event)"
          #instance="ngbTypeahead"
        />
      </div>

      <div class="form-row">
        <label for="author">Autor:</label>
        <input
          id="author"
          type="text"
          class="form-control"
          [ngbTypeahead]="searchAuthor"
          (focus)="focusAuthor$.next($event.target.value)"
          (click)="clickAuthor$.next($event.target.value)"
          (selectItem)="authorSelected($event)"
          #instance="ngbTypeahead"
        />
      </div>
      <br>
      <hr>
      <div class="form-group d-flex justify-content-around">
        <button class="btn btn-success" (click)="save()" *ngIf="!edit">Crear</button>
        <button class="btn btn-success" (click)="save()" *ngIf="edit">Editar</button>
        <button class="btn btn-warning" (click)="clear()">Limpiar campos</button>
      </div>
    </form>
  </div>
</div>

