<div class="row">
  <div class="col-md-10">
    <h1 id="tableLabel">Categorias</h1>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success" [routerLink]="['/categorias/detalle']">Crear categoría</button>
  </div>
</div>
<hr>
<p *ngIf="!categories && !notFound"><em>Loading...</em></p>

<div *ngIf="notFound" class="alert alert-danger" role="alert">
  No se encontraron categorias.
</div>

<table class='table table-striped table-hover' aria-labelledby="tableLabel" *ngIf="categories">
  <thead>
  <tr>
    <th width="20%">Nombre</th>
    <th width="60%">Descripción</th>
    <th width="20%">Editar / Eliminar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td>{{ category.Name }}</td>
    <td>{{ category.Description }}</td>
    <td class="d-flex justify-content-around">
      <button class="btn btn-warning" [routerLink]="['/categorias/detalle', category.Id]">
        <fa-icon [icon]="editIcon"></fa-icon>
      </button>
      <button class="btn btn-danger" (click)="delete(category.Id)">
        <fa-icon [icon]="deleteIcon"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
