<div class="row">
  <div class="col-md-10">
    <h1 id="tableLabel">Autores</h1>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success" [routerLink]="['/autores/detalle']">Crear autor</button>
  </div>
</div>
<hr>
<p *ngIf="!authors && !notFound"><em>Loading...</em></p>

<div *ngIf="notFound" class="alert alert-danger" role="alert">
  No se encontraron autores.
</div>

<table class='table table-striped table-hover' aria-labelledby="tableLabel" *ngIf="authors">
  <thead>
  <tr>
    <th width="20%">Nombre</th>
    <th width="20%">Apellido</th>
    <th width="40%">Fecha de nacimiento</th>
    <th width="20%">Editar / Eliminar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let author of authors">
    <td>{{ author.Name }}</td>
    <td>{{ author.LastName }}</td>
    <td>{{ author.BirthDate | date:'dd MMM yyyy' }}</td>
    <td class="d-flex justify-content-around">
      <button class="btn btn-warning" [routerLink]="['/autores/detalle', author.Id]">
        <fa-icon [icon]="editIcon"></fa-icon>
      </button>
      <button class="btn btn-danger" (click)="delete(author.Id)">
        <fa-icon [icon]="deleteIcon"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
