<div class="row">
  <div class="col-md-10">
    <h1 *ngIf="!edit">Nuevo autor</h1>
    <h1 *ngIf="edit">Editar autor</h1>
  </div>
  <div class="col-md-2">
    <button class="btn btn-danger" [routerLink]="['/autores']">Cancelar</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12">
    <form class="needs-validation" [ngClass]="{'was-validated': validated}" novalidate [formGroup]="authorForm">
      <div class="form-row">
        <label for="authorName" class="col-sm-2 col-form-label">Nombres:</label>
        <input type="text" class="form-control" name="Name" id="authorName" formControlName="Name" required>
      </div>
      <div class="form-row">
        <label for="authorLastName" class="col-sm-2 col-form-label">Apellidos:</label>
        <input type="text" class="form-control" name="LastName" id="authorLastName" formControlName="LastName" required>
      </div>
      <div class="form-row">
        <label for="authorBirthDate" class="col-sm-2 col-form-label">Fecha de nacimiento:</label>
        <input type="date" id="authorBirthDate" name="BirthDate" formControlName="BirthDate" class="form-control" [max]="maxDate" required>
      </div>
      <br>
      <hr>
      <div class="form-group d-flex justify-content-around">
        <button class="btn btn-success" (click)="save()" *ngIf="!edit">Crear</button>
        <button class="btn btn-success" (click)="save()" *ngIf="edit">Editar</button>
        <button class="btn btn-warning" (click)="clear()">Limpiar campos</button>
      </div>
    </form>
  </div>
</div>
